<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Cocktails Galore</span>
      <span class="navbar-nav">
        <button class="nav-link btn btn-outline-primary" href="#">Create Cocktail</button>
      </span>
  </div>
</nav>
