<nav class="navbar navbar-light">
  <div class="container-fluid">
    <%= link_to "Cocktails Galore", root_path, class: "navbar-brand" %>
    <span class="navbar-nav">
      <%= button_to "Create Cocktail", new_cocktail_path, method: :get, class: "btn btn-outline-primary" %>
    </span>
  </div>
</nav>
